body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: #fff;
    min-width: 600px;
    font: normal 13px / 22px Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited {
    color: #2c88a3;
    text-decoration: none;
}

a:hover {
    color: #306575;
}

h1#maintitle {
    margin: 0 0 0 0px;
    padding: 18px 0 18px 20%;
    line-height: 1.6;
    letter-spacing: 2px;
    color: #cccccc;
}

#header {
    clear: both;
    float: left;
    width: 100%;
    background: #0C479C;
    border-bottom: 3px solid #666666;
}

#main {
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
    background: #FFFFFF;
}

#wrapper {
    float: left;
    width: 100%;
    position: relative;
    right: 75%;
}

#content {
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
    width: 71%;
    left: 102%;
}

#sidebar {
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
    width: 21%;
    left: 6%;
}

#footer {
    clear: both;
    float: left;
    width: 100%;
    background: black;
    color: white;
}

#footer a {
    float: right;
    margin: 0 0 0 1px;
    padding: 3px 10px;
    background: black;
    color: white;
    text-decoration: none;
    left: 15px;
    line-height: 1.3em;
}
