<component name="libraryTable">
  <library name="spring-rcp">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-rcp/spring-richclient-core-1.1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-rcp/swingx-0.9.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-rcp/looks-2.2.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-rcp/forms-1.2.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-rcp/spring-binding-1.0.5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>