<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-tx-2.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context-2.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aop-2.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-core-2.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-beans-2.5.6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>